.profile__avatar-edit {
  width: 120px;
  height: 120px;
  border: none;
  background-color:  #000000;
  position: absolute;
  top: 3.75px;
  opacity: 0;
  transition: 1s;
}

.profile__avatar-edit:hover {
  cursor: pointer;
  opacity: 0.8;
}
