.profile__activity {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-overflow: ellipsis;
  max-width: 285px;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 580px) {
  .profile__activity {
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 30px;
    text-align: center;
  }
}
