.page__content{
  margin: 0 auto;
  /*min-height: calc(100vh - 74px);*/
}

@media screen and (max-width: 879px) {
  .page__content {
    max-width: 581px;
  }
}

@media screen and (max-width: 580px) {
  .page__content {
    max-width: 300px;
  }
}
